.modal-background {
  background-color: rgba(10, 10, 10, 0.5);
}

.addwidget .card-content {
  padding: 1rem;
  padding-bottom: 2rem;
}

.addwidget .card-header {
  padding: 8px 8px 8px 16px;
  font-weight: bold;
}

.addwidget {
  width: 900px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
}

.addwidget .content {
  display: flex;
  justify-content: space-around;
}

.addwidget .left-content {
  width: 60%;
}
.addwidget .right-content {
  width: 40%;
}
.addwidget .content table {
  /* border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb; */
  border-bottom: 1px solid #dbdbdb;
}
.addwidget .table {
  padding-bottom: 0;
  margin-bottom: 0;
}
.content .right-content table:not(:last-child) {
  margin-bottom: 0;
}

.addwidget .right-content thead tr {
  background: #dbdbdb;
}

.addwidget .right-content thead tr th {
  border-right: 1px solid #bdbcbc;
}

#coin-table tbody tr.selected {
  background: rgba(85, 172, 23, 0.4);
}

.addwidget table tbody tr td {
  cursor: pointer;
}
.addwidget table thead tr th:first-child {
  width: 50px;
}
.addwidget table tbody tr td:first-child {
  width: 50px;
}

.addwidget table thead tr th:nth-child(2) {
  width: 100px;
}
.addwidget table tbody tr td:nth-child(2) {
  width: 100px;
}

.coin-lookup {
  width: 50%;
  margin-bottom: 10px;
}

.right-content .scroll-table {
  height: 297px;
  overflow: auto;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.content table thead tr:hover {
  background-color: #dbdbdb;
}

.info-container {
  display: flex;
}

/* coin-card */
.coin-card {
  width: 180px;
  padding: 10px;
  border: 1px solid #ececec;
}
.coin-card img {
  display: block;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 2px;
  width: 158px;
  height: 158px;
}

.coin-label {
  text-align: center;
  padding: 10px 0 2px 0;
  /* border-top: 1px solid #ececec; */
}

.coin-name {
  font-size: 1.1em;
  font-weight: bold;
}

.price-label {
  font-size: 1.2em;
}

.coin-price {
  font-size: 2em;
  line-height: 1.2em;
}

.coin-price.up {
  color: green;
}

.coin-price.down {
  color: red;
}

.coin-stuff {
  margin-left: 20px;
}

.selectedCrypto {
  margin-right: 20px;
  margin-top: 20px;
}

.selectedCrypto {
  font-size: 14px;
}

.coin-form {
  margin-top: 40px;
  width: 100%;
}

input[name="quantity"] {
  width: 80px;
  margin-right: 10px;
}

.red {
  color: red;
}
.cancel-btn {
  margin-left: 5px;
}
.lookup-control {
  margin-top: 20px;
}

.rank {
  font-size: 14px;
  line-height: 1.7;
}
